@font-face {
    font-family: custom_thin;
    src: url(Lato-Thin.ttf);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.login_main {
    padding: 180px;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.email_div,
.password_div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

input {
    width: 200px;
    height: 30px;
}

.login_title {
    font-family: custom_bold_1;
    color: #FF2400;

}

.label_email,
.label_pwd {
    color: #FF2400;
    font-family: custom_thin;
}