.login__container{
    gap: 60px;
    margin: 160px;
    display: flex;
    flex-direction: column;
}
.login_form{
    display: flex;
    flex-direction: column;
}
.email,.password{
    border: 0cm;
    background-color: #595959;
    color: #FF2400;
    width: 300px;
    height: 40px;
}
.labe_email,.label_pwdl{
    color: #595959;
}